html *
{

	font-family: 'IRANSans' !important;

	
}



body {
	padding: 2%;
}



input, textarea {

	background-color : #F0E3C5; 
	direction: ltr;
	width: 80%; 
	font-size: 15pt;

}




hr{
		height: 3px;
		background-color: #FFFFFF;

	}
	
